<template name="last_word">
    <h2 class="last_common">hey..Thanks for bearing with me for a long time. I don't know how much you felt this and if
        you have found out
        the reason to
        do something like this for you. Its true that i have put so much effort and time to made this. i did this only
        to make you feel special.So
        Hope that you liked it.
    </h2>
    {{#if match}}
        <div class="details" id="style-1">
            <h1>Sounds of my hearts</h1>

            <h3 >Based on the positive match..i wanna say you something. Its true that nobody
                can tell what future will bring for us. But the
                only thing we can do is to try. We can try to do things that will make us happy. We have talked for a long
                time and maybe thats
                not enough to decide many decisions of life. But i believe in destiny. i believe in unconditional love. As
                far i know about you, i think
                you can be a good match to be my life partner. But i am not sure what you think about me. I have a deep
                respect for our relationship.
                But time has brought me in a situation where i am unable to continue that relationship in that way. I mean
                that i have seriously
                fallen for you. The feelings i got for you is much deeper than you can see. Maybe people call it love. The
                love i am talking about
                isn't how most people think about it. Its a life time commitment. Its a path which won't be compromised for
                anything. Its true that
                that kind of love doesn't exist in this age of selfishness. But still i believe we can be exceptional. But
                the most important thing
                you should know is that i can't guarantee you any of the materialistic happiness. But i can't guarantee you
                that i will be forever with you.
                But i can't guarantee you that i will do my best to provide the best possible life for ourselves. I can
                guarantee you that i won't leave you
                as long as you aren't living. So its up to you to decide our future. I can't act as a normal friend cause my
                feelings for you is flourishing.
                its out of control. I don't wanna get hurt later when i have to face the hard truth. So i can't continue
                that friendship for longer time if
                we aren't in a commitment. Hopefully you understand what i wanted to say. It's also true that you don't know
                much about me, neither i do about you.
                i don't think its necessity to know every bits and pieces. If you fall for anyone after you know everything
                about his life then it's not love.
                Its like choosing a dress after you liked everything about that product. There isn't any special thing.
                There is no love in that. Love is a risk,
                its a believe. Like we worship Allah though we never saw his physical existance and for that we can only
                except reward.So its not love when
                you will fall for me after knowing everything about me. Although i think you have know enough to put your
                trust on me. Thats all i can say right now.
                Now its your decision to make. But honestly i won't no matter what decision you take, just follow your
                heart.</h3>

        </div>
    {{else}}
        <h3>Its not a match</h3>
    {{/if}}

</template>
