<template name="welcome">
    <!--This will hold the loading image untill the rain animation generate-->
    <!-- This  will be the text animation where it will show one by one-->

    <div id="welcome_text_ani">
        <h1 class="tlt" data-in-effect="fadeIn">Hey <span>!</span></h1>

        <h2 class="tlt">
            <ul class="texts">
                <li data-in-effect="fadeIn">Welcome Here!</li>
                <li data-in-effect="fadeIn">You see its raining outside.</li>
                <li data-in-effect="fadeIn">Its been a long time i was thinking to do something for you.</li>
                <li data-in-effect="fadeIn">So i made this, which isn't much unless you feel it.</li>
                <li data-in-effect="fadeInLeft">Lets go through it</li>

            </ul>
        </h2>
    </div>

</template>

