<template name="welcome">
    <!--This will hold the loading image untill the rain animation generate-->
    <img id="background" src="">
    <!-- This  will be the text animation where it will show one by one-->

    <div id="welcome_text_ani">
        <h1 class="tlt" data-in-effect="fadeIn">Hey <span>!</span></h1>

        <h2 class="tlt">
            <ul class="texts">
                <li data-in-effect="fadeIn">first step</li>
                <li data-in-effect="fadeIn">second message</li>
                <li data-in-effect="fadeIn"
                    data-out-effect="fadeOut">3rd message! worked.
                </li>
            </ul>
        </h2>
    </div>
</template>

