#welcome_text_ani
  display none
  h1
    font-size 7em
    margin: 0 auto;
    color #F44336
    text-shadow 4px 4px 1px rgba(109, 68, 65, 0.64)
    box-shadow (0 20px 30px)
  h2
    font-size 4em
    color #CDDC39
    text-shadow 2px 2px #787D46
    margin-left: 5%;



