body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

img#background {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.loading-cat {
    visibility: visible;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.quiz {
    padding: 3em;
    margin: 0 auto;
    display: none;
}

.question {
    width: 90%;
    border: 3px solid;
    background: rgba(240, 248, 255, 0.48);
    margin-bottom: 10px;
    padding: 1em;
}

.question ul, .question ul li {
    padding: 0;
    margin: 0;
}

.question ul {
    height: 220px;
}

.quiz label.question-label {
    font-size: 2.5em;
    padding: 0.5em;
    line-height: 1em;
    color: black;
}
.resultShow{
    transition: 1.5s all ease-in;
}
.resultShow h3{

}
.quiz ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 45%;
    height: 70px;
    background: cadetblue;
    margin: 2.5%;
    box-shadow: 3px 3px #667F7F;
    cursor: pointer;
}

.quiz ul li:hover {
    background: #a02530;
    box-shadow: 3px 3px #7f1124;
}

.quiz ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.quiz ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 15px 15px 15px 50px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    color: black;
    text-transform: capitalize;
}

.quiz ul li:hover label {
    color: #FFFFFF;
}

.quiz input[type="text"] {
    height: 3em;
    border: 3px inset #92A6B5;
}

.quiz input[type="submit"] {
    height: 3em;
    width: 10em;
    background: #E91E63;
    border: double 1px ghostwhite;
    transition: all 0.5s ease-out;
}

.quiz input[type="submit"]:hover {
    background: #F44336;
}

h1, h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-family: fantasy;
    text-transform: uppercase;
    text-shadow: #FFEB3B 3px 5px;
    visibility: hidden;
}

h2 {
    font-size: 4em;
    color: #795548;
    height: auto;
    padding: 20px;
    transition: 30ms;
    line-height: 2;

}

h1 {
    font-size: 7em !important;
    color: #bc4a1e;
    height: 200px;
    width: 50%;
    margin: 0 auto;
}

canvas {
    position: fixed !important;
    z-index: -1;
}

label.error {
    color: #F44336;
    font-family: fantasy;
    display: none;
    font-size: 2em;
}
#stephold{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.step {
    flex-basis: 100px;
    height: 20px;
    margin-right: 5px;
    transition: background 1s 0s;
}

.step-unfinish {
    background: #00aaee;

}

.step-finish {
    background: #ebee12;
}

/* CSS declarations go here */
