<!--
<head>
    <title>rain</title>
</head>

<body>
</body>

<template name="rain">
    <div class="container">
        {{> Template.dynamic template=step}}
    </div>
</template>


<template name="welcome">
    <img id="background" src="">

    <div id="text-animation"></div>
</template>

<template name="text">
    <h1 class="tlt" data-in-effect="fadeIn">Hey <span>!</span></h1>

    <h2 class="tlt">
        <ul class="texts">
            <li data-in-effect="fadeIn">first step</li>
            <li data-in-effect="fadeIn">second message</li>
            <li data-in-effect="fadeIn"
                data-out-effect="fadeOut">3rd message! worked.
            </li>
        </ul>
    </h2>
</template>

<!----------------------------------------------------------template typedElement-------------------------------------------------------------->
<!--
<template name="typedElement">
    <div class="typedElement">
        <h1 class="animated bounceInDown">Lets play a Game!!</h1>

        <h2 class="animated shake"> There will be a simple quiz, Where i will try to find your view.</h2>

        <div class="typedbox">
            <span id="typed"></span>
            <span id="indicator"></span>
        </div>

        <div id="ruleBox">
            <div class="img_ani animated slideInLeft">
                <img src="images/teacherrules.gif ">
            </div>
            <ul class="li_place fa-ul">

            </ul>
        </div>
        <button class="agree">Agree</button>
    </div>
</template>

<!----------------------------------------------template quiz------------------------------------------
<template name="quiz">
    <div class="quiz">
        {{#animate type="lightSpeedIn" delay="500"}}
            <div class="formContainer">
                <div class="intro">
                    <h3>Lets play..</h3>

                </div>
                <form class="question">
                    <label class="question-label">{{dataQ}}</label>

                    {{#if possibleAns}}
                        <ul>
                            {{#each possibleAns}}
                                <li>
                                    <label class="option-val"
                                           data-mark={{getMark @index}} for="f-option">{{this}}</label>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <input type="text" class="ans" required min="2" placeholder="type your answer please">
                        <label class="error">Incorrect Answer!! Try again.</label>
                        <input type="submit" value="Submit">
                    {{/if}}
                </form>
                {{>step}}
            </div>
        {{/animate}}

    </div>
</template>


<template name="step">
    <div id="stephold">
        {{#each questionSet}}
            <div class="step step-unfinish" data-id="{{@index}}"></div>
        {{/each}}

    </div>
</template>
-->
