<template name="quiz">
    <div id="quiz">
        {{#animate type="lightSpeedIn" delay="500"}}
            <div class="form_container">
                <div class="intro">
                    <h3>Lets play..</h3>

                </div>

                <form class="question">
                    {{#with questionSet}}
                        <label class="question_label"><i class="fa fa-modx"></i> {{qs}}</label>
                        {{#if option}}
                            <ul class="fa-ul">
                                {{#each item in option}}
                                    <li class="fa" data-mark={{item.val}}>
                                        <label class="option-val" for="f-option">{{item.title}}</label>
                                    </li>
                                {{/each}}

                            </ul>
                        {{else}}
                            <input type="number" class="ans style_1" required min="0" max="10"
                                   placeholder="type your answer please">
                            <input type="submit" value="Submit">
                        {{/if}}
                    {{/with}}

                </form>
                {{>step}}
            </div>
        {{/animate}}

    </div>
</template>
<template name="step">
    <div id="stephold">
        {{#each questionSet}}
            <span class="fa fa-2x" data-id="{{@index}}"><i class="fa fa-square-o"></i>
</span>
        {{/each}}

    </div>
</template>