<head>
    <title>rain</title>
</head>

<body>
</body>

<template name="index">

    <header>
        <section class="login">
            {{> loginButtons}}
        </section>
    </header>

    <div class="container">
        <img id="background" src="">
        {{> Template.dynamic template=step}}
    </div>

    <footer>
        <h4>@product of Iamanam</h4>
    </footer>
</template>


<!----------------------------------------------------------template typedElement-------------------------------------------------------------->

<!----------------------------------------------template quiz------------------------------------------->


