<template name="rule_set">
    <div id="rule_set">
        <div class="rule_info">
            <h1 class="animated bounceInDown">Let me ask you some questions..</h1>
            <!--<h2 class="animated shake"> There will be a simple quiz, Where i will try to find your view.</h2>-->
        </div>

        <div id="ruleBox">
            <ul class="li_place fa-ul">

            </ul>
        </div>
        <div class="typedbox">
            <span id="typed"></span>
        </div>
        <button class="agree">Agree</button>
    </div>
</template>
