<template name="rule_set">
    <div class="typedElement">
        <h1 class="animated bounceInDown">Lets play a Game!!</h1>

        <h2 class="animated shake"> There will be a simple quiz, Where i will try to find your view.</h2>

        <div class="typedbox">
            <span id="typed"></span>
            <span id="indicator"></span>
        </div>

        <div id="ruleBox">
            <div class="img_ani animated slideInLeft">
                <img src="images/teacherrules.gif ">
            </div>
            <ul class="li_place fa-ul">

            </ul>
        </div>
        <button class="agree">Agree</button>
    </div>
</template>
