@import "../../stylesheets/global.styl"
.result-box
  width 90%
  padding 2%
  margin 0 auto
  h2
   font-size 3.5vw
  .texts
    list-style none
    no-extra()
    li
      font-size 2vw
      margin-bottom 10px
