<template name="review">
    {{#animate type="fadeInLeft" delay="300"}}
        <div class="result-box">
            <h2 class="tlt" data-in-effect="fadeIn">Lets see how much similarity we got <span>!</span></h2>

            <div class="match_info">
                <h1>Match</h1>
                <span class="tv">
                    <p></p>
                </span>
            </div>
            <button type="button">Lets hear the final message</button>
        </div>
    {{/animate}}
</template>
